/**
 * WPadmin custom theme
 * Stylesheet for wkhtmltopdf (PDF printing)
 *
 * @package RosarioSIS
 * @subpackage assets/themes
 */

/* Import WPadmin style (already includes colors.css) */

@import url("../WPadmin/stylesheet_wkhtmltopdf.css");
/* Replace the modules icons */

.module-icon.Accounting {
	background-image: url("modules/Accounting.png");
}

.module-icon.Attendance {
	background-image: url("modules/Attendance.png");
}

.module-icon.Discipline {
	background-image: url("modules/Discipline.png");
}

.module-icon.Grades {
	background-image: url("modules/Grades.png");
}

.module-icon.Eligibility {
	background-image: url("modules/Eligibility.png");
}

.module-icon.Example {
	background-image: url("modules/Example.png") !important;
}

.module-icon.Food_Service {
	background-image: url("modules/Food_Service.png");
}

.module-icon.Messaging {
	background-image: url("modules/Messaging.png") !important;
}

.module-icon.misc {
	background-image: url("modules/misc.png");
}

.module-icon.Quiz {
	background-image: url("modules/Quiz.png") !important;
}

.module-icon.Resources {
	background-image: url("modules/Resources.png");
}

.module-icon.Reports {
	background-image: url("modules/Reports.png") !important;
}

.module-icon.Scheduling {
	background-image: url("modules/Scheduling.png");
}

.module-icon.School_Setup {
	background-image: url("modules/School_Setup.png");
}

.module-icon.Student_Billing {
	background-image: url("modules/Student_Billing.png");
}

.module-icon.Students {
	background-image: url("modules/Students.png");
}

.module-icon.Users {
	background-image: url("modules/Users.png");
}

/* Spinner */

.loading {
	background-image: url(spinning.gif);
}

/* Login page background photo */

body.login {
	background-image: url('background/fall-colours.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-height: calc( 100% - 84px);
}

/* Replace Open Sans font with Lato (Light) */

@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato/regular.woff2') format('woff2'), url('fonts/Lato/regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato/italic.woff2') format('woff2'), url('fonts/Lato/italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('fonts/Lato/bold.woff2') format('woff2'), url('fonts/Lato/bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

body,
textarea,
input,
select {
	font-family: 'Lato', sans-serif;
}

.header1 h2 {
	font-family: 'Lato', sans-serif;
}

.menu-top {
	font-size: 16px;
}

.postbox th h3,
.postbox th h3 a {
	font-size: 17px;
}

.postbox th h3 {
	line-height: 32px;
	height: 35px;
}
